<ion-header>
    <ion-toolbar>
      <ion-title>AllerScan</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
      <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Home - Scan</ion-card-subtitle>
            <ion-card-title>Welcome to AllerScan</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <h2>Here you can scan a food item and find out if it is safe to eat by you, and your specific needs.</h2>
          </ion-card-content>
        </ion-card>
      
  </ion-content>
  
  <ion-content>
  <div class="center">
      <ion-grid style="height: 100%">
          <ion-row justify-content-center align-items-center style="height: 100%">
              <ion-button (click)="scanBarcode()" class="roundButton" size="large" color="secondary"><ion-icon name="barcode"></ion-icon>&nbsp;Scan Item</ion-button>
          </ion-row>
        </ion-grid>
  </div>
</ion-content>

