<ion-header>
  <ion-toolbar>
    <ion-title>Add New Product</ion-title>

    <ion-buttons slot="start">

      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="productName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Barcode</ion-label>
      <ion-input type="number" [(ngModel)]="productCode"></ion-input>
    </ion-item>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Please specify the allergy information in this item:</ion-card-subtitle>
      </ion-card-header>
      <ion-item>
        <ion-label>Eggs</ion-label>
        <ion-toggle [(ngModel)]="eggAllergy" color="danger" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Shellfish</ion-label>
        <ion-toggle [(ngModel)]="shellfishAllergy" color="danger" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Dairy</ion-label>
        <ion-toggle [(ngModel)]="dairyAllergy" color="danger" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Nuts & Peanuts</ion-label>
        <ion-toggle [(ngModel)]="nutAllergy" color="danger" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Gluten</ion-label>
        <ion-toggle [(ngModel)]="glutenAllergy" color="danger" slot="end"></ion-toggle>
      </ion-item>
    </ion-card>


  </ion-list>

  <ion-button fill="solid" expand="block" color="secondary" (click)="addProduct()">Add Product</ion-button>

</ion-content>