<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- List of Text Items -->
<ion-list inset="true">
    <ion-list-header>
        <ion-label>Recently Scanned Products</ion-label>
      </ion-list-header>

    <ion-item *ngFor="let log of logs">
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>{{log.logName}}</h3>
          </ion-text>
          <p>{{log.logDate.toDate() | date:'medium'}}</p>
          <ion-text *ngIf="log.logSafe == 'NOT SAFE'" color="danger">
              <p><ion-icon name="close-circle-outline"></ion-icon> {{log.logSafe}}</p>
          </ion-text>
          <ion-text *ngIf="log.logSafe == 'SAFE'" color="success">
              <p><ion-icon name="checkmark-circle-outline"></ion-icon> {{log.logSafe}}</p>
          </ion-text>
        </ion-label>
      </ion-item>

  </ion-list>
  


</ion-content>
