<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- List of Text Items -->
<ion-list inset="true">
    <ion-list-header>
        <ion-label>Recently Scanned Products</ion-label>
      </ion-list-header>
    <ion-item>
      <ion-label>Mars Bar</ion-label>
      <ion-text color="danger">
          <p>NOT SAFE</p>
        </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Red Bull</ion-label>
      <ion-text color="success">
          <p>SAFE</p>
        </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Galaxy Bar</ion-label>
      <ion-text color="danger">
          <p>NOT SAFE</p>
        </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Tayto Salt & Vinegar</ion-label>
      <ion-text color="success">
          <p>SAFE</p>
        </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Kinder Bueno</ion-label>
      <ion-text color="danger">
          <p>NOT SAFE</p>
        </ion-text>
    </ion-item>
  </ion-list>
  


</ion-content>
