<ion-header>
  <ion-toolbar>
    <ion-title>Product</ion-title>
    <ion-buttons slot="start">

        <ion-back-button defaultHref="/tabs"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngIf="returnedQuery">
        <ion-card-header>
          <ion-card-subtitle>Scan Results</ion-card-subtitle>
          <ion-card-content><p>{{returnedQuery.productName}}</p></ion-card-content>
          <ion-card-content><p>{{returnedQuery.productCode}}</p></ion-card-content>
        </ion-card-header>
      
      </ion-card>

</ion-content>
